@{
    ViewData["Title"] = "Login";
}
@model LoginUser

<div class="text-center">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Login to this Cool Site!</h1>
        <a href="/">Register</a>
    </div>
    <Form action="/loginprocess" method="post">
        <div class="form-group">
            <label for="Email">Email</label>
            <input class="form-control" asp-for="Email">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input class="form-control" asp-for="Password">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <input class="btn btn-primary" type="submit" value="Login Now">
    </Form>
</div>